#micro {
  color: #999999;
}

.pagination {
  text-align: center;
}

.pagination li {
  margin: 10px;
  display: inline-block;
}

.scream {
  display: block;
  border: 1px solid #d5d5d5;
  margin-bottom: 24px;
  padding: 15px;
}

.scream article {
  margin: 0;
}

.scream p {
  padding-bottom: 15px;
}

.nowrap {
  white-space: nowrap;
}

.scream time {
  display: inline;
}

.meta, .meta a, .edit-scream {
  border: none;
  color: #afafaf;
  font-size: 12px;
}

.edit-scream {
  float: right;
}
